h1{
    color: green;
    font-size: 20px;
    font-weight: 600;

    padding : 20px;
    border: 1px solid green;
}
ul{
    list-style: square;
    color: green;
    font-size: 20;

    padding: 20px;
    border: 1px solid green;
}
.link{
    color: #000000;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
}
.link:hover{
    color: red;
    font-size: 30px;
}
#image{
    width: 50px;
    display: block;
    margin-top: 30px;
}

.imageWrapper{
width: 350px;
height: 350px;

overflow: scroll;

}